.dropdown,
.dropup {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    text-decoration: none;
    outline: 0
}

.open>.dropdown-menu {
    display: block
}

.open>a {
    outline: 0
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

body.index .index_film .embed-responsive-item,
body.index .index_film embed,
body.index .index_film iframe,
body.index .index_film object,
body.index .index_film video {
    width: 427px;
    height: 240px
}

.upload .film_preview .embed-responsive-item,
.upload .film_preview embed,
.upload .film_preview iframe,
.upload .film_preview object,
.upload .film_preview video {
    width: 450px;
    height: 252px
}

.film .film-inner {
    margin: 0
}

@media screen and (min-width:640px) {
    .navbar .event_menu .mobile-menu {
        display: none
    }
    .section-menu {
        display: inline-block
    }
}

@media screen and (max-width:640px) {
    body {
        background: url(../img/m-bg-index.png) 0 0
    }
    body.index {
        background: url(../img/m-bg-index.png) 0 0
    }
    body.index .index_film {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        padding-bottom: 56.25%;
        background: 0 0
    }
    body.index .index_film .embed-responsive-item,
    body.index .index_film embed,
    body.index .index_film iframe,
    body.index .index_film object,
    body.index .index_film video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 8px solid #fff;
        border-radius: 5px;
        margin: 0
    }
    body.index h1 {
        background: url(../img/m-h1_index.png) center 0 no-repeat;
        background-size: cover;
        margin: 0
    }
    body.index h1:before {
        content: "";
        display: block;
        padding-top: 30.31%
    }
    body.index h1>img {
        display: none
    }
    body.index .index_desc {
        position: initial;
        margin: 20px 0 10px
    }
    body.index .btn_index_upload {
        margin: 10px 10px 0
    }
    * {
        box-sizing: border-box
    }
    img {
        max-width: 100%
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 15;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        text-align: left;
        background: #fff;
        box-shadow: rgba(0, 0, 0, .1) 0 5px 10px
    }
    .dropdown-menu.pull-right {
        right: 0;
        left: auto
    }
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        white-space: nowrap
    }
    .navbar {
        height: auto
    }
    .navbar .event_menu {
        width: 100%;
        height: auto;
        text-align: right;
        padding-top: 5px
    }
    .navbar .event_menu>a {
        height: 44px
    }
    .navbar .event_menu a.event_menu00 {
        width: auto;
        float: left
    }
    .navbar .event_menu a.event_menu00 img {
        height: 100%
    }
    .navbar .event_menu .mobile-menu {
        width: 44px;
        margin-right: 10px;
        background: url(../img/m-btn-menu.png) -44px 0 no-repeat;
        background-size: 132px 44px;
        transition: none
    }
    .navbar .event_menu.open .mobile-menu {
        background: url(../img/m-btn-menu.png) -88px 0 no-repeat;
        background-size: 132px 44px
    }
    .navbar .event_menu05,
    .navbar .event_menu05_active {
        background-position: -642px 0
    }
    .btn_fb {
        position: fixed;
        z-index: 110;
        top: 5px;
        right: 60px;
        width: 44px;
        height: 44px;
        background: url(../img/m-btn-menu.png) 0 0 no-repeat;
        background-size: 132px 44px
    }
    .btn_fb>img {
        display: none
    }
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px
    }
    .container .spokesman {
        display: block
    }
    .spokesman {
        background: url(../img/m-spokesman.png) center 0 no-repeat;
        background-size: cover
    }
    .spokesman:before {
        content: "";
        display: block;
        padding-top: 123.125%
    }
    .spokesman>img {
        display: none
    }
    .header {
        width: 100%;
        margin-bottom: -10px
    }
    .header h1 {
        background: url(../img/m-h1_index.png) center 0 no-repeat;
        background-size: cover;
        margin: 0
    }
    .header h1:before {
        content: "";
        display: block;
        padding-top: 30.31%
    }
    .header h1>img {
        display: none
    }
    .header h2.h2_event {
        background: url(../img/m-event-h2.png) center 0 no-repeat
    }
    .header h2.h2_upload {
        background: url(../img/m-upload-h2.png) center 0 no-repeat
    }
    .header h2.h2_namelist {
        background: url(../img/m-namelist-h2.png) center 0 no-repeat
    }
    .header h2.h2_vote {
        background: url(../img/m-vote-h2.png) center 0 no-repeat
    }
    .header h2.h2_product {
        background: url(../img/m-product-h2.png) center 0 no-repeat
    }
    .header h2.h2_event,
    .header h2.h2_namelist,
    .header h2.h2_product,
    .header h2.h2_upload,
    .header h2.h2_vote {
        background-size: cover;
        margin: 0;
        width: 100%;
        position: relative;
        left: 0;
        top: -20px
    }
    .header h2.h2_event:before,
    .header h2.h2_namelist:before,
    .header h2.h2_product:before,
    .header h2.h2_upload:before,
    .header h2.h2_vote:before {
        content: "";
        display: block;
        padding-top: 13.43%
    }
    .header h2.h2_event>img,
    .header h2.h2_namelist>img,
    .header h2.h2_product>img,
    .header h2.h2_upload>img,
    .header h2.h2_vote>img {
        display: none
    }
    .event {
        width: 100%;
        background: url(../img/m-event-01.png) center 0 no-repeat;
        background-size: cover;
        margin: -20px 0 0
    }
    .event:before {
        content: "";
        display: block;
        padding-top: 881.56%
    }
    .event>img {
        display: none
    }
    .upload {
        background: #efece4;
        margin: 0;
        padding: 15px;
        width: 100%;
        height: auto;
        border-radius: 10px
    }
    .upload .option {
        width: 100%;
        margin: 0
    }
    .upload .film_preview {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 56.25%;
        background: 0 0
    }
    .upload .film_preview .embed-responsive-item,
    .upload .film_preview embed,
    .upload .film_preview iframe,
    .upload .film_preview object,
    .upload .film_preview video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 8px solid #fff;
        border-radius: 5px;
        margin: 0
    }
    .search {
        width: 100%;
        height: auto;
        background: #efece4;
        border-radius: 10px;
        margin: 0 0 15px
    }
    .search h3 {
        margin: 0;
        text-align: left;
        display: block;
        line-height: 1;
        padding-left: 8px;
        margin-bottom: -10px
    }
    .search h3>img {
        width: 100px
    }
    .search input {
        width: 55%;
        margin: 0
    }
    .search>a {
        margin: 0 0 0 10px
    }
    .vote_list {
        width: 47%;
        height: auto;
        margin: 0 10px 10px 0;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #f382a0;
        padding: 10px
    }
    .vote_list:nth-of-type(even) {
        margin-right: 0
    }
    .vote_list .img_vote_list>img {
        width: initial;
        height: auto
    }
    .vote_list>div {
        display: block;
        margin-bottom: 5px
    }
    .vote_list .percentage_bg {
        width: 100%;
        height: 10px
    }
    .vote_list .percentage {
        height: 10px;
        display: block
    }
    .vote_list .percentage_number {
        display: none
    }
    .vote_list>a:nth-of-type(2),
    .vote_list>a:nth-of-type(3) {
        width: 47%;
        margin: 0
    }
    .film {
        width: 85%;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #f382a0;
        padding: 10px;
        height: auto;
        text-align: center
    }
    .film .film-inner {
        position: relative;
        height: 0;
        padding: 0;
        width: 100%;
        padding-bottom: 56.25%
    }
    .film .film-inner .embed-responsive-item,
    .film .film-inner embed,
    .film .film-inner iframe,
    .film .film-inner object,
    .film .film-inner video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        margin: 0
    }
    .film>a {
        margin: 0;
        width: 40%
    }
    .film>a:last-of-type {
        margin-left: 30px
    }
    .film .prevfilm {
        width: auto;
        left: -40px;
        width: 15%;
        top: 100px
    }
    .film .nextfilm {
        width: auto;
        right: -40px;
        width: 15%;
        top: 100px
    }
    .film>div {
        display: block;
        margin-bottom: 5px
    }
    .film .percentage_title {
        text-align: left
    }
    .film .percentage_bg {
        width: 70%;
        height: 10px
    }
    .film .percentage {
        height: 10px;
        display: block
    }
    footer {
        display: none
    }
    .modal {
        width: 100%;
        left: 0;
        margin: 0
    }
    .modal-header {
        height: auto;
        padding: 0
    }
    .modal-header:after,
    .modal-header:before {
        content: " ";
        display: table
    }
    .modal-header:after {
        clear: both
    }
    .modal-header .close {
        margin: 0
    }
    .modal-body {
        padding: 0 10px;
        width: 100%
    }
    .lightbox_fillin p {
        text-indent: 0;
        padding: 0
    }
    #lightbox_complete .modal-footer {
        margin: 0
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:640px) {
    body {
        background-image: url(../img/m-bg-index@2x.png)
    }
    body.index {
        background-image: url(../img/m-bg-index@2x.png)
    }
    body.index h1 {
        background-image: url(../img/m-h1_index@2x.png)
    }
    .navbar .event_menu .mobile-menu {
        background-image: url(../img/m-btn-menu@2x.png)
    }
    .navbar .event_menu.open .mobile-menu {
        background-image: url(../img/m-btn-menu@2x.png)
    }
    .navbar .event_menu01,
    .navbar .event_menu02,
    .navbar .event_menu03,
    .navbar .event_menu04,
    .navbar .event_menu05 {
        background-image: url(../img/event_menu@2x.png);
        background-size: 800px 70px
    }
    .navbar .event_menu01:hover,
    .navbar .event_menu02:hover,
    .navbar .event_menu03:hover,
    .navbar .event_menu04:hover,
    .navbar .event_menu05:hover {
        background-image: url(../img/event_menu@2x.png);
        background-size: 800px 70px
    }
    .navbar .event_menu01_active,
    .navbar .event_menu02_active,
    .navbar .event_menu03_active,
    .navbar .event_menu04_active,
    .navbar .event_menu05_active {
        background-image: url(../img/event_menu_active@2x.png);
        background-size: 800px 70px
    }
    .navbar .event_menu01_active:hover,
    .navbar .event_menu02_active:hover,
    .navbar .event_menu03_active:hover,
    .navbar .event_menu04_active:hover,
    .navbar .event_menu05_active:hover {
        background-image: url(../img/event_menu_active@2x.png);
        background-size: 800px 70px
    }
    .btn_fb {
        background-image: url(../img/m-btn-menu@2x.png)
    }
    .spokesman {
        background-image: url(../img/m-spokesman@2x.png)
    }
    .header h1 {
        background-image: url(../img/m-h1_index@2x.png)
    }
    .header h2.h2_event {
        background-image: url(../img/m-event-h2@2x.png)
    }
    .header h2.h2_upload {
        background-image: url(../img/m-upload-h2@2x.png)
    }
    .header h2.h2_namelist {
        background-image: url(../img/m-namelist-h2@2x.png)
    }
    .header h2.h2_vote {
        background-image: url(../img/m-vote-h2@2x.png)
    }
    .header h2.h2_product {
        background-image: url(../img/m-product-h2@2x.png)
    }
    .event {
        background-image: url(../img/m-event-01@2x.png)
    }
}
